@model ProyectoCrudNet8MVC.Models.Contact
@{
    ViewData["Title"] = "Detail of Contact";
}

<h1 class="text-center">Contacts made with .NET 8 (.NET Core MVC)</h1>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white">
                    <strong>Edit a user contact</strong>
                </h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Name: </strong>@Html.DisplayFor(m => m.Name)</li>
                    <li class="list-group-item"><strong>Telephone: </strong>@Html.DisplayFor(m => m.Telephone)</li>
                    <li class="list-group-item"><strong>Cellphone: </strong>@Html.DisplayFor(m => m.Cellphone)</li>
                    <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(m => m.Email)</li>
                    <li class="list-group-item"><strong>Creation: </strong>@Html.DisplayFor(m => m.CreationDate)</li>
                </ul>
                <a asp-controller="Start" asp-action="Index">Go Back!</a>
            </div>
        </div>
    </div>
</div>